/* /public/styles/main.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  header {
    background: #50a3a2;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #077187 1px solid;
  }
  
  footer {
    background: #50a3a2;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }